/**************** Fonts *******************/


/* open-sans-regular - latin */

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.eot");
    /* IE9 Compat Modes */
    src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("../../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.woff") format("woff"), /* Modern Browsers */
    url("../../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.svg#OpenSans") format("svg");
    /* Legacy iOS */
}


/* open-sans-600 - latin */

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../../fonts/open-sans-v17-latin/open-sans-v17-latin-600.eot");
    /* IE9 Compat Modes */
    src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../../fonts/open-sans-v17-latin/open-sans-v17-latin-600.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../fonts/open-sans-v17-latin/open-sans-v17-latin-600.woff2") format("woff2"), /* Super Modern Browsers */
    url("../../fonts/open-sans-v17-latin/open-sans-v17-latin-600.woff") format("woff"), /* Modern Browsers */
    url("../../fonts/open-sans-v17-latin/open-sans-v17-latin-600.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../../fonts/open-sans-v17-latin/open-sans-v17-latin-600.svg#OpenSans") format("svg");
    /* Legacy iOS */
}


/* open-sans-700 - latin */

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../../fonts/open-sans-v17-latin/open-sans-v17-latin-700.eot");
    /* IE9 Compat Modes */
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../../fonts/open-sans-v17-latin/open-sans-v17-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../fonts/open-sans-v17-latin/open-sans-v17-latin-700.woff2") format("woff2"), /* Super Modern Browsers */
    url("../../fonts/open-sans-v17-latin/open-sans-v17-latin-700.woff") format("woff"), /* Modern Browsers */
    url("../../fonts/open-sans-v17-latin/open-sans-v17-latin-700.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../../fonts/open-sans-v17-latin/open-sans-v17-latin-700.svg#OpenSans") format("svg");
    /* Legacy iOS */
}


/**************** End Fonts *******************/

body {
    font: 10pt "Open sans", Calibri, Tahoma;
}

select,
input,
label,
textarea {
    font-size: 1em !important;
}

#dolly,
.notice,
.update-nag {
    display: none !important;
}

.wgb-ta-center {
    text-align: center;
}

.select2-search__field {
    width: 100% !important;
}

.wgb-button-loading {
    display: none;
}

.sweet-alert h2 {
    font-size: 17pt;
    line-height: 55px;
}

.sweet-alert p {
    font-size: 14pt;
    margin: 0 0 15px 0;
}

.sweet-overlay {
    z-index: 161000;
}

.sweet-alert {
    z-index: 162000;
}

#wp-admin-bar-wgb-col-view {
    font-weight: bold;
    color: #8080db;
}

#wp-admin-bar-wgb-col-view .wgb-col-title {
    font-weight: bold;
    color: #cc73e5;
}

button {
    cursor: pointer;
}

.select2 span {
    display: block;
}

#wgb-main input[type="text"],
#wgb-main input[type="number"],
#wgb-main select {
    height: 30px;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wgb-col-12,
.wgb-col-3,
.wgb-col-2,
.wgb-col-3-5,
.wgb-col-4,
.wgb-col-8,
.wgb-col-2-5,
.wgb-col-1-5,
.wgb-col-6 {
    float: left;
    padding: 0 5px !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wgb-row {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.wgb-col-12 {
    width: 100% !important;
}

.wgb-col-8 {
    width: 66.66% !important;
}

.wgb-col-6 {
    width: 50% !important;
}

.wgb-col-2-5 {
    width: 20% !important;
}

.wgb-col-3-5 {
    width: 31.33% !important;
}

.wgb-col-1 {
    width: 10% !important;
}

.wgb-col-1-5 {
    width: 3% !important;
}

.wgb-pt0 {
    padding-top: 0 !important;
}

.wgb-pr0 {
    padding-right: 0 !important;
}

.wgb-pl0 {
    padding-left: 0 !important;
}

.wgb-col-4 {
    width: 33.33% !important;
}

.wgb-col-3 {
    width: 25% !important;
}

.wgb-col-2 {
    width: 20% !important;
}

.wgb-float-left {
    float: left;
}

.wgb-float-right {
    float: right;
}

.wgb-mt10 {
    margin-top: 10px;
}

.wgb-mt30 {
    margin-top: 30px;
}

.wgb-mt26 {
    margin-top: 26px;
}

.wgb-mb30 {
    margin-bottom: 30px;
}

.wgb-mb10 {
    margin-bottom: 10px;
}

.wgb-w60p {
    width: 60% !important;
}

.wgb-w70p {
    width: 70% !important;
}

.wgb-w40p {
    width: 40% !important;
}

.wgb-input-ft {
    width: 300px;
    max-width: 300px;
    margin-left: 10px;
}

.wgb-w100p {
    width: 100%;
}

.wgb-w500 {
    width: 500px !important;
    max-width: 500px !important;
}

.wgb-mw125 {
    min-width: 125px !important;
}

.wgb-mw250 {
    min-width: 250px !important;
}

.wgb-mt-10 {
    margin-top: 10px;
}

.ui-datepicker {
    z-index: 160000 !important;
}

.wgb-loading {
    display: none;
    width: 150px;
    height: 40px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: auto;
    margin: auto;
    background: #f39c12;
    z-index: 165000;
    text-align: center;
    border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    line-height: 40px;
    font-size: 13pt;
    font-weight: bold;
    color: #fff;
}

.wgb-h43 {
    height: 43px !important;
}

.wgb-loading-success {
    background: #00a65a;
}

td[data-content-type="numeric"] * {
    pointer-events: auto;
}

.wgb-loading-error {
    background: #dd4b39;
}

.wgb-mr5 {
    margin-right: 5px;
}

.wgb-mr10 {
    margin-right: 10px;
}

.wgb-ml5 {
    margin-left: 5px;
}

.wgb-ml10 {
    margin-left: 10px;
}

.wgb-ml20 {
    margin-left: 20px;
}

.wgb-ml45 {
    margin-left: 45px;
}

.wgb-mr20 {
    margin-right: 20px;
}

.wgb-fs19p {
    font-size: 19px !important;
}

.wgb-mt64 {
    margin-top: 64px !important;
}

.wgb-mt20 {
    margin-top: 20px !important;
}

.wgb-mt10 {
    margin-top: 10px !important;
}

.wgb-mt0 {
    margin-top: 0 !important;
}

.wgb-pt20 {
    padding-top: 20px !important;
}

.wgb-pt40 {
    padding-top: 40px !important;
}

.wgb-pb20 {
    padding-bottom: 20px !important;
}

.wgb-w100p {
    width: 100% !important;
}

.wgb-hide {
    display: none;
}

.wgb-m0 {
    margin: 0 !important;
}

.wgb-pb30 {
    padding-bottom: 30px;
}

.wgb-text-alert {
    color: #dd4b39;
    font-weight: bold;
}

.wgb-grid {
    display: grid;
    gap: 10px;
}

#wpcontent {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

a {
    color: #2092f2;
    transition: all 0.2s ease;
    text-decoration: none;
    cursor: pointer;
}

.clear {
    clear: both;
}

.wgb-button:focus {
    color: #fff !important;
}

.wgb-button-white-blue:focus {
    color: #603ecd !important;
}

.wgb-button-white-green:focus {
    color: #419c39 !important;
}

.wgb-button-white:focus {
    color: #444 !important;
}

.sa-button-container .wgb-button,
.sa-confirm-button-container .btn-primary {
    font-size: 11pt;
}

.wgb-validation-error-field {
    border: 1px red solid !important;
}

.wgb-button,
.sa-confirm-button-container .btn-primary {
    height: 30px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #603ecd;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    padding: 0 12px;
    font-weight: 400;
    margin-right: 5px;
    line-height: 28px;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px transparent solid;
}

.wgb-button[disabled="disabled"] {
    background: #e3e3e3 !important;
    color: #3e3e3e;
}

.wgb-button-tr {
    background: transparent;
    border: 0;
}

.wgb-button-lg,
.sa-confirm-button-container .btn-primary {
    height: 45px;
    line-height: 45px;
}

.wgb-button-md {
    height: 43px;
    line-height: 43px;
}

.wgb-button span {
    float: right;
}

.wgb-button img {
    height: 24px;
    margin: 5px 10px 5px 0;
    float: left;
}

.wgb-button i {
    margin: 6px 5px 6px 0;
    float: left;
    font-size: 20px;
}

.wgb-button-lg img {
    margin: 10px 10px 10px 0;
    float: left;
}

.wgb-button-lg i {
    font-size: 18pt;
    margin: 10px 10px 10px 0;
    float: left;
}

.wgb-button-md i {
    font-size: 15pt;
    margin: 12px 10px 12px 0;
    float: left;
}

.wgb-button-flat i {
    color: #444;
    margin: 0;
    font-size: 20pt;
    float: left;
    width: auto;
    height: auto;
}

.wgb-button-flat {
    background-color: transparent;
    border: 0;
    padding: 0;
}

.wgb-button-blue {
    background-color: #603ecd !important;
    color: #fff;
}

.wgb-button-white-blue {
    background-color: #fff !important;
    color: #603ecd;
    border-color: #603ecd;
}

.wgb-button-white-green {
    background-color: #fff !important;
    color: #419c39;
    border-color: #419c39;
}

.wgb-button-green {
    background-color: #00a65a;
    color: #fff;
}

.wgb-button-red {
    background-color: #ff8080;
    color: #fff;
}

.wgb-button-white {
    background-color: #fff;
    color: #949494;
    border-color: #949494;
}

.wgb-button-gray {
    background-color: #c7c7c7;
    color: #000;
    border-color: #c7c7c7;
}

.wgb-button-blue:hover {
    background-color: #593bb1;
    color: #fff;
}

.wgb-button-white:hover {
    color: #444;
    border-color: #444;
}

.wgb-button-gray:hover {
    background: #bababa;
    color: #000;
}

.wgb-button-red:hover {
    background: #ed6666;
}

.wgb-alert {
    width: 100%;
    display: inline-table;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 5px;
    font-size: 10pt;
}

.wgb-alert-default {
    background: #f2f2f2;
}

.wgb-alert-success {
    background: #00a65a;
    color: #fff;
}

.wgb-alert-warning {
    background: #f39c12;
    color: #fff;
}

.wgb-alert-danger {
    background: #dd4b39;
    color: #fff;
}

.wgb-alert i {
    font-size: 30pt;
    margin-right: 15px;
}

.wgb-tooltip {
    position: relative;
    cursor: help;
    display: inline-block;
    color: #f3f5f7;
    font-weight: bold;
    border-radius: 50%;
    padding: 0 5px;
    background: #6c6c6c;
    width: 5px;
    height: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    margin-left: 10px;
    margin-top: 5px;
}

.wgb-tooltip .tooltip-text {
    width: 250px;
    height: auto;
    line-height: 18px;
    visibility: hidden;
    background-color: #333;
    color: #fff;
    font-size: 11px;
    text-align: left;
    padding: 8px;
    border-radius: 4px;
    position: absolute;
    z-index: 9999;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    white-space: normal;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.wgb-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

#wgb-main i {
    vertical-align: middle;
}

@-webkit-keyframes wgb-tabs-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes wgb-tabs-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes wgb-tabs-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#wgb-main {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    direction: ltr;
    font-family: "Open Sans", serif;
    position: relative;
    line-height: 26px;
}

#wgb-header {
    width: 100%;
    height: 90px;
    background: url(../../images/background-header.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}

#wgb-body {
    width: 100%;
    height: auto;
    background: #f7f7f7;
}

.wgb-item-view-icon span {
    vertical-align: middle !important;
    width: 22px;
    height: 22px;
    font-size: 22px;
    margin-top: -3px;
}

.wgb-plugin-title {
    position: absolute;
    color: #fff;
    top: 10px;
    left: 2%;
}

.wgb-plugin-name {
    display: block;
    font-size: 15px;
    font-weight: bold;
}

.wgb-plugin-name img {
    margin: 2px 7px 0 0;
    float: left;
}

.wgb-plugin-description {
    font-size: 15px;
    margin-left: 7px;
}

.wgb-header-left {
    float: right;
    height: auto;
    margin: 0 2% 0 0;
    position: absolute;
    right: 0;
    top: 13px;
}

.wgb-header-left * {
    color: #fff;
}

.wgb-header-left li {
    width: 20px;
    height: 20px;
    float: right;
    margin: 0 0 0 10px;
    cursor: pointer;
}

.wgb-wrap {
    width: 98%;
    margin: 0 1%;
}

.wgb-tabs-main,
.wgb-menu-main {
    width: 98%;
    background: #fff;
    margin: 0 1%;
    position: relative;
    top: -43px;
    height: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    box-shadow: 0 0 25.5px rgba(0, 0, 0, 0.09);
}

.wgb-tabs-navigation,
.wgb-menu-navigation {
    border-bottom: 1px solid #e5e5e5;
}

.wgb-tabs-navigation {
    width: 100%;
    float: left;
}

.wgb-tabs-navigation ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

.wgb-tabs-list li,
.wgb-menu-list li {
    display: inline-block;
    margin: 0 10px 0 0;
}

.wgb-tabs-list li:first-child,
.wgb-menu-list li:first-child {
    margin-left: 10px;
}

.wgb-tabs-list li a,
.wgb-menu-list li a {
    position: relative;
    color: #737373;
    display: inline-block;
    padding: 8px;
    transition: all 0.2s ease;
    outline: none;
    font-size: 13px;
    font-weight: 600;
}

.wgb-menu-list li a i {
    font-size: 10px;
    padding-left: 10px;
    margin-top: -3px;
    display: inline-table;
}

.wgb-tabs-list .wgb-tab-changed::before,
.wgb-menu-list .wgb-menu-changed::before {
    content: " ";
    width: 10px;
    height: 10px;
    background-color: red;
    float: right;
    margin: 7px 0 0 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.wgb-tabs-list li a:hover,
.wgb-menu-list li a:hover {
    color: #1d1d1e;
}

.wgb-tabs-list li a.selected,
.wgb-menu-list li a.selected {
    color: #303740;
}

.wgb-tabs-list a:after,
.wgb-menu-list a:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    right: 50%;
    left: 50%;
    width: 0;
    height: 3px;
    background: #603ecd;
    transition: all 0.2s ease;
}

.wgb-tabs-list li a.selected:after,
.wgb-menu-list li a.selected:after {
    right: 0;
    left: 0;
    width: auto;
}

.wgb-tabs-contents,
.wgb-tab-content-item,
.wgb-menu-content {
    width: 100%;
    height: auto;
}

.wgb-tabs-contents,
.wgb-menu-content {
    padding-bottom: 20px;
}

.wgb-tab-middle-content {
    width: 100%;
    float: left;
    padding: 15px 0;
}

.wgb-tab-content-item {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
}

.wgb-tabs-contents .selected {
    display: block;
}

.wgb-tab-content-header {
    width: 100%;
    padding: 30px 0 0 35px;
    box-sizing: border-box;
}

.wgb-tab-content-title {
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px 10px 0;
    display: block;
    position: relative;
}

.wgb-tab-content-title:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 87px;
    height: 1px;
    background: #7258cf;
    transition: all 0.2s ease;
}

.wgb-tab-content-description {
    line-height: 18px;
    color: #858585;
    margin-top: 25px;
    display: block;
}

.wgb-modal {
    display: none;
    width: calc(100% - 160px);
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 159000;
    padding-left: 160px;
}

.wgb-modal .wgb-popup-body {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.wgb-modal-box {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 99;
}

.wgb-modal-box-lg {
    width: 90%;
    max-height: 92%;
}

.wgb-modal-box-sm {
    width: 45%;
    max-height: 90%;
}

.wgb-modal-content {
    max-height: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.wgb-modal-content .wgb-modal-title {
    width: 100%;
    min-height: 60px;
    border-bottom: 1px #e5e5e5 solid;
    float: left;
    padding: 0 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.wgb-modal-content .wgb-modal-title h2 {
    line-height: 60px;
    font-size: 15pt;
    float: left;
}

.wgb-modal-content .wgb-modal-title .wgb-popup-close {
    float: right;
    cursor: pointer;
    border: 0;
    background: transparent;
}

.wgb-modal-content .wgb-modal-title .wgb-popup-close i {
    font-size: 20pt;
    height: auto;
    line-height: 60px;
}

.wgb-modal-content .wgb-modal-body {
    width: 100%;
    padding: 20px 0;
    float: left;
    max-height: 300px;
    overflow: auto;
}

.wgb-modal-content .wgb-modal-footer {
    width: 100%;
    border-top: 1px #e5e5e5 solid;
    float: left;
    padding: 15px 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.ui-sortable-placeholder {
    visibility: visible !important;
    background-color: #e3e3e3 !important;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

.tipsy {
    z-index: 170000;
}

.wgb-menu-list li {
    position: relative;
}

.wgb-menu-list .wgb-sub-menu {
    position: absolute;
    top: 40px;
    width: 250px;
    left: 0;
    border-top: 1px transparent solid;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.09);
    z-index: 99;
    display: none;
}

.wgb-menu-list .wgb-sub-menu li {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    background: #fff;
    border-bottom: 1px #f1f1f1 solid;
}

.wgb-menu-list .wgb-sub-menu li:last-child {
    border-bottom: 0;
    border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
}

.wgb-menu-list .wgb-sub-menu li a {
    width: 100%;
    float: left;
    padding: 13px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wgb-menu-list .wgb-sub-menu li a.selected-sub-menu,
.wgb-menu-list .wgb-sub-menu li a:hover {
    background: #f6f6f6;
}

.wgb-widget-box {
    width: 100%;
    float: left;
    padding: 25px 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.09);
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
}

.wgb-skeleton .wgb-skeleton-top-boxes::before {
    background: radial-gradient(74px circle at 60px 60px, white 50%, transparent 51%), linear-gradient(white, white) top 35px right 25px/60px 20px no-repeat, linear-gradient(white, white) right 25px bottom 35px/100px 20px no-repeat;
}

.wgb-skeleton .wgb-skeleton-table::before {
    background: linear-gradient(white, white) top 35px left 25px/80px 20px no-repeat, linear-gradient(white, white) top 85px left 25px/65% 20px no-repeat, linear-gradient(white, white) top 120px left 25px/45% 20px no-repeat;
}

.wgb-skeleton .wgb-skeleton-loading.wgb-widget-box::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    top: 0;
    left: 0;
    z-index: 9;
}

.wgb-skeleton .wgb-skeleton-loading.wgb-widget-box::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.3)), to(transparent));
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    animation: loading 1.2s infinite;
    z-index: 99;
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

.wgb-widget-box .wgb-boxes-icon {
    text-align: left;
    float: left;
}

.wgb-widget-box .wgb-boxes-icon i {
    width: 32px !important;
    height: 32px !important;
    display: inline-block;
    font-size: 32px;
    background-color: #e3e3e3;
    padding: 20px;
    border: 1px transparent solid;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.wgb-widget-box .wgb-boxes-icon i.purple {
    background-color: rgba(102, 88, 221, .25);
    border-color: #6658dd;
    color: #6658dd;
}

.wgb-widget-box .wgb-boxes-icon i.green {
    background-color: rgba(26, 188, 156, .25);
    border-color: #1abc9c;
    color: #1abc9c;
}

.wgb-widget-box .wgb-boxes-icon i.blue {
    background-color: rgba(79, 198, 225, .25);
    border-color: #4fc6e1;
    color: #4fc6e1;
}

.wgb-widget-box .wgb-boxes-icon i.orange {
    background-color: rgba(247, 184, 75, .25);
    border-color: #f7b84b;
    color: #f7b84b;
}

.wgb-widget-box .wgb-boxes-text {
    height: 62px;
    margin: 5px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: right;
    float: right;
}

.wgb-widget-box .wgb-boxes-text .wgb-widget-title {
    font-size: 18pt;
    font-weight: bold;
    color: #4d4d4d;
    margin: 2px 0 5px;
}

.wgb-widget-box .wgb-boxes-text .wgb-widget-subtitle {
    font-size: 10pt;
    color: #a3a3a3;
    font-weight: 600;
}

.wgb-section-title {
    width: 100%;
    float: left;
    font-size: 12pt;
    margin: 20px 0 15px;
}

.wgb-alert a {
    float: right;
    color: #fff;
    background: #46ad16;
    padding: 1px 12px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.wgb-upgrade a,
.wgb-youtube-button a {
    padding: 3px 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.wgb-upgrade a:hover,
.wgb-youtube-button a:hover {
    color: #fff !important;
}

.wgb-upgrade a {
    background: #46ad16 !important;
}

.wgb-youtube-button a {
    background: #FF0000 !important;
}

.wgb-setting-page-title-pro {
    display: inline-block;
    font-size: 10px;
    background-color: #c02d2d;
    color: #fff;
    padding: 0px 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.wgb-rule-header-details,
.wgb-offer-rule-header-details {
    float: left;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block !important;
}