.wp-block-wgb-notice {
    width: 100%;
    display: inline-block;
}

.wp-block-wgb-notice input,
.wp-block-wgb-notice span,
.wp-block-wgb-notice label {
    width: 100%;
    display: inline-block;
}

.wp-block-wgb-notice label {
    font-size: 14px;
}

.wp-block-wgb-notice span {
    font-size: 13px;
    color: #868686;
}

.wp-block-wgb-notice input {
    max-width: 450px;
}

.wgb-blocks-notice-half-container {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}