body,
#wgb-body {
    background: #eee;
}

.wgb-wrap {
    width: 94%;
    margin: auto 3%;
}

.wgb-w100p {
    width: 100%;
    display: inline-block;
}

.wgb-boxes {
    width: 102%;
    margin-left: -2%;
    float: left;
}

.wgb-box-3 {
    width: 31.33%;
    margin: 0 0 0 2%;
    float: left;
    box-shadow: 0 0 25.5px rgba(0, 0, 0, 0.09);
}

.wgb-box-4 {
    width: 23%;
    margin: 0 0 30px 2%;
    float: left;
    position: relative;
    box-shadow: 0 0 25.5px rgba(0, 0, 0, 0.09);
}

.wgb-dashboard-body,
.wgb-add-ons-body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wgb-header {
    width: 100%;
    min-height: 100px;
    margin: 50px 0 0 0;
    background: #fff;
    padding: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 25.5px rgba(0, 0, 0, 0.09);
    margin-bottom: 20px;
}

.wgb-header h2 {
    font-size: 20pt;
    line-height: 40px;
}

.wgb-header h2 span {
    font-weight: 300;
    letter-spacing: 2px;
}

.wgb-header h2 strong {
    font-weight: 600;
    letter-spacing: 1px;
}

.wgb-header .wgb-header-sub {
    color: #a6a6a6;
    font-size: 10pt;
}

.wgb-header .wgb-header-sub-icon {
    color: #00ba26;
    font-size: 10pt;
    margin-left: 10px;
}

.wgb-header .wgb-header-sub-icon svg {
    width: 15px;
    height: 15px;
    fill: #00ba26;
    vertical-align: middle;
}

.wgb-dashboard-body .wgb-boxes .wgb-box-3 {
    height: 310px;
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
}

.wgb-dashboard-body .wgb-boxes .wgb-box-3 .wgb-box-image {
    width: 100%;
    height: 180px;
    padding: 20px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wgb-dashboard-body .wgb-boxes .wgb-box-3 .wgb-box-image img {
    width: auto;
    max-height: 94%;
}

.wgb-dashboard-body .wgb-boxes .wgb-box-3 .wgb-box-text {
    width: 100%;
    height: 60px;
}

.wgb-dashboard-body .wgb-boxes .wgb-box-3 .wgb-box-text strong {
    width: 100%;
    float: left;
}

.wgb-dashboard-body .wgb-boxes .wgb-box-3 .wgb-box-text span {
    font-size: 10pt;
    width: 100%;
    float: left;
}

.wgb-dashboard-body .wgb-boxes .wgb-box-3 .wgb-box-footer {
    width: 100%;
    height: 70px;
    background: #f6f6f6;
}

.wgb-dashboard-body .wgb-boxes .wgb-box-3 .wgb-box-footer a {
    display: inline-table;
    height: 34px;
    padding: 0 20px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    cursor: pointer;
    color: #3e3e3e;
    margin: 18px 0;
    color: #fff;
    font-size: 10pt;
    line-height: 34px;
}

.wgb-dashboard-body .wgb-boxes .wgb-box-3 .wgb-box-footer a.wgb-btn-green {
    background: #39d894;
}

.wgb-dashboard-body .wgb-boxes .wgb-box-3 .wgb-box-footer a.wgb-btn-orange {
    background: #ffa658;
}

.wgb-dashboard-body .wgb-boxes .wgb-box-3 .wgb-box-footer a.wgb-btn-dark {
    background: #3d3d3d;
}

.wgb-dashboard-body .wgb-dashboard-change-log {
    width: 100%;
    min-height: 150px;
    float: left;
    background: #fff;
    box-shadow: 0 0 25.5px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-top: 30px;
    padding: 25px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wgb-dashboard-body .wgb-dashboard-change-log .wgb-dashboard-change-log-header {
    width: 100%;
    min-height: 50px;
    float: left;
    border-bottom: 1px #dbdbdb solid;
}

.wgb-dashboard-body .wgb-dashboard-change-log .wgb-dashboard-change-log-header .wgb-dashboard-change-log-header-left {
    float: left;
}

.wgb-dashboard-body .wgb-dashboard-change-log .wgb-dashboard-change-log-header .wgb-dashboard-change-log-header-right {
    float: right;
    font-size: 10pt;
}

.wgb-dashboard-body .wgb-dashboard-change-log .wgb-dashboard-change-log-header .wgb-dashboard-change-log-header-right ul {
    display: inline-block;
    vertical-align: middle;
}

.wgb-dashboard-body .wgb-dashboard-change-log .wgb-dashboard-change-log-header .wgb-dashboard-change-log-header-right ul li {
    float: left;
    margin-left: 10px;
}

.wgb-dashboard-body .wgb-dashboard-change-log .wgb-dashboard-change-log-body {
    width: 100%;
    float: left;
    margin-top: 20px;
    font-size: 10pt;
    max-height: 340px;
    overflow: auto;
}

.wgb-dashboard-body .wgb-dashboard-change-log .wgb-dashboard-change-log-body .wgb-dashboard-log-title {
    width: 100%;
    padding-bottom: 10px;
}

.wgb-dashboard-body .wgb-dashboard-change-log .wgb-dashboard-change-log-body li {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    background: #f6f6f6;
    border: 1px #e3e3e3 solid;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wgb-dashboard-body .wgb-dashboard-change-log .wgb-dashboard-change-log-body strong {
    margin-right: 10px;
}

.wgb-dashboard-body .wgb-dashboard-change-log .wgb-dashboard-change-log-body ul {
    padding: 10px 0 0 20px;
    border-top: 1px #e3e3e3 solid;
}

.wgb-dashboard-body .wgb-dashboard-change-log .wgb-dashboard-change-log-body ul li {
    list-style: circle;
    margin: 0;
    padding: 0;
    border: 0;
}

@media screen and (max-width: 610px) {
    .wgb-box-3 {
        width: 100%;
        margin: 10px 0;
    }
}

.wgb-add-ons-body .wgb-boxes .wgb-box-4 {
    height: 315px;
    background: #fff;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    text-align: left;
    padding: 15px 0 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px #dbdbdb solid;
    overflow: hidden;
}

.wgb-add-ons-body .wgb-boxes .wgb-box-4 .wgb-box-image {
    width: 90%;
    height: 210px;
    margin: 0 5% 10px;
}

.wgb-add-ons-body .wgb-boxes .wgb-box-4 .wgb-box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wgb-add-ons-body .wgb-boxes .wgb-box-4 .wgb-box-name {
    width: 90%;
    margin: 0 5%;
    height: 40px;
    line-height: 30px;
    overflow: hidden;
    font-size: 11pt;
}

.wgb-add-ons-body .wgb-boxes .wgb-box-4 .wgb-box-name a {
    color: #3e3e3e;
}

.wgb-add-ons-body .wgb-boxes .wgb-box-4 .wgb-box-footer {
    width: 100%;
    height: 40px;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px 5%;
    border-top: 1px #dbdbdb solid;
    background: #f6f6f6;
}

.wgb-add-ons-body .wgb-boxes .wgb-box-4 .wgb-box-footer .wgb-box-footer-left {
    float: left;
}

.wgb-add-ons-body .wgb-boxes .wgb-box-4 .wgb-box-footer .wgb-box-footer-right {
    float: right;
}

.wgb-add-ons-body .wgb-boxes .wgb-box-4 .wgb-box-footer a,
.wgb-add-ons-body .wgb-boxes .wgb-box-4 .wgb-box-footer button {
    border: 0;
    height: 26px;
    padding: 0 15px;
    background: #6a99ff;
    color: #fff;
    float: left;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    font-size: 10pt;
    cursor: pointer;
    line-height: 26px;
    margin-top: 0;
}

.wgb-add-ons-body .wgb-boxes .wgb-box-4 .wgb-box-footer button.activate {
    background: #1fb626;
}

.wgb-add-ons-body .wgb-boxes .wgb-box-4 .wgb-box-footer button.deactivate {
    background: #e3e3e3;
    color: #3e3e3e;
}

.wgb-add-ons-body .wgb-boxes .wgb-box-4 .wgb-box-footer strong {
    width: 100%;
    float: left;
}

.wgb-add-ons-body .wgb-boxes .wgb-box-4 .wgb-box-footer span {
    font-size: 10pt;
    float: left;
    font-size: 9pt;
    color: #a6a6a6;
    line-height: 18px;
    margin: 1px 0;
}

.wgb-add-ons-body .wgb-boxes .wgb-box-4 .wgb-box-footer span.not-installed,
.wgb-add-ons-body .wgb-boxes .wgb-box-4 .wgb-box-footer span.active,
.wgb-add-ons-body .wgb-boxes .wgb-box-4 .wgb-box-footer span.inactive {
    padding: 0 4px;
    color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 8pt;
    line-height: 26px;
}

.wgb-add-ons-body .wgb-boxes .wgb-box-4 .wgb-box-footer span.inactive {
    background: #ecb009;
}

.wgb-add-ons-body .wgb-boxes .wgb-box-4 .wgb-box-footer span.not-installed {
    background: #d63737;
}

.wgb-add-ons-body .wgb-boxes .wgb-box-4 .wgb-box-footer span.active {
    background: #1fb626;
}

@media screen and (min-width: 1024px) AND (max-width: 1330px) {
    .wgb-box-4 {
        width: 31.33%;
        margin: 10px 1% 10px;
    }
}

@media screen and (min-width: 610px) AND (max-width: 1024px) {
    .wgb-box-4 {
        width: 46%;
        margin: 10px 2% 10px;
    }
}

@media screen and (max-width: 610px) {
    .wgb-box-4 {
        width: 90%;
        margin: 10px 5% 10px;
    }
}

.inactive-box {
    background: #dbdbdb !important;
    border: 1px #cfcfcf solid !important;
}

.inactive-box .wgb-box-image {
    position: relative;
    overflow: hidden;
}

.inactive-box .wgb-box-image::after {
    content: ' ';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}

.inactive-box .wgb-box-footer {
    background: #dbdbdb !important;
    border-color: #cfcfcf !important;
}
