@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../../../../assets/fonts/open-sans-v17-latin/open-sans-v17-latin-regular.eot");
    /* IE9 Compat Modes */
    src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../../../../assets/fonts/open-sans-v17-latin/open-sans-v17-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../../../assets/fonts/open-sans-v17-latin/open-sans-v17-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("../../../../assets/fonts/open-sans-v17-latin/open-sans-v17-latin-regular.woff") format("woff"), /* Modern Browsers */
    url("../../../../assets/fonts/open-sans-v17-latin/open-sans-v17-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../../../../assets/fonts/open-sans-v17-latin/open-sans-v17-latin-regular.svg#OpenSans") format("svg");
    /* Legacy iOS */
}


/* open-sans-600 - latin */

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../../../../assets/fonts/open-sans-v17-latin/open-sans-v17-latin-600.eot");
    /* IE9 Compat Modes */
    src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../../../../assets/fonts/open-sans-v17-latin/open-sans-v17-latin-600.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../../../assets/fonts/open-sans-v17-latin/open-sans-v17-latin-600.woff2") format("woff2"), /* Super Modern Browsers */
    url("../../../../assets/fonts/open-sans-v17-latin/open-sans-v17-latin-600.woff") format("woff"), /* Modern Browsers */
    url("../../../../assets/fonts/open-sans-v17-latin/open-sans-v17-latin-600.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../../../../assets/fonts/open-sans-v17-latin/open-sans-v17-latin-600.svg#OpenSans") format("svg");
    /* Legacy iOS */
}


/* open-sans-700 - latin */

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../../../../assets/fonts/open-sans-v17-latin/open-sans-v17-latin-700.eot");
    /* IE9 Compat Modes */
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../../../../assets/fonts/open-sans-v17-latin/open-sans-v17-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../../../assets/fonts/open-sans-v17-latin/open-sans-v17-latin-700.woff2") format("woff2"), /* Super Modern Browsers */
    url("../../../../assets/fonts/open-sans-v17-latin/open-sans-v17-latin-700.woff") format("woff"), /* Modern Browsers */
    url("../../../../assets/fonts/open-sans-v17-latin/open-sans-v17-latin-700.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../../../../assets/fonts/open-sans-v17-latin/open-sans-v17-latin-700.svg#OpenSans") format("svg");
    /* Legacy iOS */
}

.wgb-popup {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

.wgb-popup .wgb-popup-loading {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
}


/* Layout carousel */

.wgb-popup-carousel .wgb-popup-box {
    width: 55%;
    height: 80%;
    max-width: 930px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-shadow: 0 0 14px 0 rgba(15, 17, 17, .5);
    background-color: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    overflow: hidden;
}

.wgb-popup-carousel .wgb-popup-header {
    width: 100%;
    height: 50px;
    float: left;
    background-color: #F0F2F2;
    padding: 10px 15px;
    line-height: 32px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px #D5D9D9 solid;
    position: relative;
    z-index: 9;
}

.wgb-popup-carousel .wgb-popup-title {
    float: left;
    line-height: 30px;
    font-size: 14pt;
    margin: 0;
}

.wgb-popup-carousel .wgb-popup-header .wgb-popup-close {
    padding: 0;
    float: right;
    border: 0;
    color: #4d4d4d;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}

.popup-inner-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 111;
    background-color: rgba(255, 255, 255, 0.6);
}

.ith-btn-no-thanks-cnt {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.ith-btn-no-thanks-cnt>div {
    float: none !important;
    font-size: 16px !important;
    text-decoration: underline;
    cursor: pointer;
}

.wgb-popup-carousel .wgb-popup-carousel .wgb-popup-close i {
    font-weight: 100;
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.wgb-popup-carousel .wgb-popup-carousel .wgb-popup-close:hover i {
    color: #a11717;
    font-weight: bold;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body {
    width: 100%;
    float: left;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-mobile-filter-button {
    width: 100%;
    float: left;
    display: none;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 50px;
    top: 0;
    right: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: auto;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-content-top {
    width: 100%;
    float: left;
    padding: 25px 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-content-top .wgb-popup-content-top-left {
    font-size: 13pt;
    float: left;
    line-height: 32px;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-content-top .wgb-popup-content-top-right {
    float: right;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-content-top .wgb-popup-content-top-right .view-mode-button {
    height: 30px;
    font-size: 14px !important;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    border-bottom: 2px transparent solid;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-content-top .wgb-popup-content-top-right .view-mode-button.active {
    border-color: #3e3e3e;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-content-top .wgb-popup-content-top-right .view-mode-button i {
    font-weight: 300;
    font-size: 17px;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-posts {
    width: 100%;
    float: left;
    height: 95%;
    overflow: auto;
    padding: 0 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-posts .wgb-popup-post-items {
    width: 100%;
    float: left;
    min-height: 250px;
    padding: 0 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-posts .wgb-popup-posts-pagination {
    width: 100%;
    float: left;
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-posts .wgb-popup-posts-pagination button {
    padding: 7px 25px;
    color: #4d4d4d !important;
    font-size: 13pt !important;
    font-weight: normal !important;
    background: #fff;
    border: 1px #e3e3e3 solid;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    margin: 0 2px;
    line-height: 15px;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-posts .wgb-popup-posts-pagination button i {
    font-weight: 100;
    font-size: 16px;
    width: 16px;
    height: 16px;
}

#it-popup-posts-pagination-next i {
    margin-left: 8px;
}

#it-popup-posts-pagination-prev i {
    margin-right: 8px;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-posts .wgb-popup-posts-pagination button:hover {
    background: #f6f6f6;
    text-decoration: none !important;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-posts .wgb-popup-post-item {
    width: 29.33%;
    float: left;
    margin: 0 2% 30px 2%;
    position: relative;
    cursor: pointer;
    border: 1px #e3e3e3 solid;
    padding: 10px;
    text-align: center!important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-posts .wgb-popup-post-item.active {
    border-color: #c2bf37;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-posts .wgb-popup-post-item .wgb-popup-post-add-button {
    width: 100%;
    float: left;
    text-align: center;
    margin: 10px 0 0 0;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-posts .wgb-popup-post-item .wgb-popup-post-add-button .wgb-add-gift-btn {
    margin: 0;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-posts .wgb-popup-post-item .wgb-popup-post-thumbnail {
    width: 100%;
    float: left;
    position: relative;
    text-align: center;
    margin-top: 0;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 0;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-posts .wgb-popup-post-item .wgb-popup-post-thumbnail .wgb-product-item-stock-in-thumb {
    left: -13px;
    right: auto;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-posts .wgb-popup-post-item .wgb-popup-post-title {
    width: 100%;
    float: left;
    min-height: 50px;
    margin: 10px 0 0 0;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-posts .wgb-popup-post-item .wgb-popup-post-thumbnail img {
    display: block;
    width: 100%;
    height: auto;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-content-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-content-bottom .wgb-popup-content-action-button {
    float: right;
    height: 30px;
    background: #1c9911;
    border: 1px #198510 solid;
    color: #fff;
    margin: 10px 20px 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    font-size: 10pt;
    padding: 0 10px !important;
    line-height: 30px !important;
    font-weight: normal !important;
    letter-spacing: 0 !important;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-content-bottom .wgb-popup-content-action-button:disabled {
    background-color: #cdcdcd !important;
    border: 1px #b4b4b4 solid !important;
    color: #3e3e3e !important;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-content-bottom .wgb-popup-content-action-button:disabled:hover {
    background-color: #cdcdcd;
    border: 1px #b4b4b4 solid;
    color: #3e3e3e;
}

.wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-content-bottom .wgb-popup-content-action-button:hover {
    text-decoration: none;
    background-color: #198510;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
}

.lni {
    vertical-align: middle;
}

.loader-item {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #000 #0000;
    animation: l1 1s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

@keyframes l1 {
    to {
        transform: rotate(.5turn)
    }
}


/* Responsive */

@media screen and (max-width: 1024px) {
    .wgb-popup-carousel .wgb-popup-box {
        width: 100%;
        height: 100%;
        max-width: 100%;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }
    .wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-sidebar {
        width: 100%;
        height: 100%;
        left: auto;
        right: -100%;
        background-color: #fff;
        z-index: 8;
    }
    .wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-sidebar .wgb-popup-sidebar-items {
        height: 92%;
    }
    .wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-sidebar .wgb-popup-mobile-sidebar-buttons {
        display: block;
        width: 100%;
        float: left;
        padding: 5px 20px;
        border-bottom: 1px #e3e3e3 solid;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-sidebar .wgb-popup-mobile-sidebar-buttons span {
        float: left;
        line-height: 32px;
    }
    .wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content {
        width: 100%;
        overflow: hidden;
    }
    .wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-posts {
        height: calc(100% - 40px);
    }
    .wgb-popup-carousel .wgb-popup-box .wgb-popup-posts .adv-gift-section {
        margin-bottom: 0!important;
    }
    .wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-mobile-filter-button,
    .wgb-popup-carousel .wgb-popup-box .wgb-popup-sidebar .wgb-popup-mobile-apply-filter {
        display: block;
        height: 32px;
        font-size: 13pt;
        cursor: pointer;
        color: #fff;
        background-color: #5e5e5e;
        border: 1px #535353 solid;
        padding: 0 20px;
        text-decoration: none;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    }
    .wgb-popup-carousel .wgb-popup-box .wgb-popup-sidebar .wgb-popup-mobile-apply-filter {
        background-color: #2ca036;
        border-color: #26882e;
        float: right;
    }
    .wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-content-bottom,
    .wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-content-top .wgb-popup-content-top-right .view-mode-button {
        display: none;
    }
    .wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-content-top {
        padding: 5px 20px;
        border-bottom: 1px #e3e3e3 solid;
    }
    .wgb-popup-carousel .wgb-popup-box .wgb-popup-body .wgb-popup-content .wgb-popup-posts[data-view="grid"] .wgb-popup-post-item {
        width: 98%;
        float: left;
        margin: 0 1% 10px 1%;
    }
}


/* Layout list */

.wgb-popup-list,
.wgb-popup-list h2,
.wgb-popup-list h3 {
    font-family: "Open Sans", serif;
}

.wgb-popup-list .wgb-popup-box {
    width: 400px;
    height: 165px;
    max-height: 80%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-shadow: 0 0 14px 0 rgba(15, 17, 17, .5);
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 41px;
}

.wgb-popup-list .wgb-popup-header {
    width: 100%;
    height: 34px;
    float: left;
    background-color: #E8DEC5;
    padding: 0 15px;
    line-height: 34px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px #E8DEC5 solid;
    position: relative;
    z-index: 9;
    text-transform: uppercase
}

.wgb-popup-list .wgb-popup-title {
    float: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 34px;
    margin: 0;
}

.wgb-popup-list .wgb-popup-header .wgb-popup-close {
    padding: 0;
    float: right;
    border: 0;
    color: #4d4d4d;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
}

.wgb-popup-list .wgb-popup-close i {
    font-weight: 100;
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.wgb-popup-list .wgb-popup-body {
    width: 100%;
    height: calc(100% - 34px);
    overflow: auto;
}

.wgb-popup-list .wgb-list-items {
    width: 100%;
    float: left;
}

.wgb-popup-list .wgb-list-item,
.wgb-popup-list .wgb-popup-post-item {
    width: 100%;
    float: left;
    padding: 7px;
    border-bottom: 1px #e3e3e3 solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wgb-popup-list .wgb-popup-post-item {
    position: relative;
    z-index: 1;
}

.wgb-popup-list .wgb-list-item:last-child,
.wgb-popup-list .wgb-popup-post-item:last-child {
    border: 0;
}

.wgb-popup-list .wgb-list-item .wgb-list-item-thumb,
.wgb-popup-list .wgb-popup-post-item .wgb-popup-post-thumbnail {
    width: 70px;
    height: 70px;
    float: left;
    text-align: center;
}

.wgb-popup-list .wgb-list-item .wgb-list-item-thumb img,
.wgb-popup-list .wgb-popup-post-item .wgb-popup-post-thumbnail img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    display: inline-table;
}

.wgb-popup-list .wgb-list-item .wgb-list-item-content {
    width: calc(100% - 70px);
    height: 70px;
    display: flex;
    align-items: center;
}

.wgb-popup-list .wgb-popup-post-item .wgb-popup-post-title {
    width: calc(70% - 70px);
    font-size: 13px;
    line-height: 28px;
    float: left;
    margin-top: 10px;
}

.wgb-popup-list .wgb-list-item .wgb-list-item-content,
.wgb-popup-list .wgb-popup-post-item .wgb-popup-post-title {
    overflow: hidden;
    font-family: "Open Sans", serif;
    padding-left: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wgb-popup-list .wgb-list-item .wgb-list-item-content .wgb-list-item-title {
    width: 70%;
    height: 50px;
    float: left;
}

.wgb-popup-list .wgb-list-item .wgb-list-item-content .wgb-list-item-title h2 {
    width: 100%;
    font-size: 13px;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

.wgb-popup-list .wgb-list-item .wgb-list-item-content .wgb-list-item-title .gift-price {
    width: 100%;
    font-size: 13px;
}

.wgb-popup-list .wgb-list-item .wgb-list-item-content .wgb-list-add-gift-button,
.wgb-popup-list .wgb-popup-post-item .wgb-add-gift-btn {
    width: 27%;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    padding: 4px 0 !important;
}

.wgb-popup-list .wgb-popup-post-item .wgb-item-overlay {
    bottom: 15px;
    width: 180px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    left: 82px;
    right: auto;
    background: transparent;
    color: #444;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    font-weight: 600;
}

.wgb-popup-list .wgb-popup-post-item .wgb-add-gift-btn {
    float: right;
    margin-top: 19px;
}

.wgb-popup-list .wgb-popup-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 41px;
    text-align: center;
    border-top: 1px #e3e3e3 solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #fff;
    z-index: 99;
}

.wgb-popup-list .wgb-popup-footer .wgb-popup-list-no-thanks-button {
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0 10px;
    background-color: transparent;
    color: #444;
    font-size: 15px;
    margin-top: 8px;
}

.wgb-popup-list .ith-btn-no-thanks-cnt {
    display: none;
}

@media screen and (max-width: 420px) {
    .wgb-popup-list .wgb-popup-box {
        width: 100%
    }
}

@media screen and (max-width: 330px) {
    .wgb-popup-list .wgb-list-item .wgb-list-item-thumb {
        width: 100%;
        height: 70px;
        float: left;
        text-align: center;
    }
    .wgb-popup-list .wgb-list-item .wgb-list-item-content {
        width: 100%;
    }
}


/* Promotion Popup */
.wgb-promotion-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden; 
    opacity: 0; 
    z-index: 99999;
}

.wgb-promotion-overlay:not(.hidden) {
    visibility: visible !important;
    opacity: 1 !important;
}

.wgb-promotion-align {
    display: grid;
    gap: 10px;
    position: relative;
    align-items: center;
    top: 200px;
}

.wgb-promotion-popup {
    margin: 0px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 1s ease-in-out;
}

.wgb-promotion-close {
    top: 50px;
    position: relative;
    float: right;
    right: 40px;
    color: #Fff;
    font-size: 45px;
    font-weight: 600;
}

.wgb-promotion-close:hover {
    color: #b587ee;
}

.wgb-promotion-popup .wgb-promotion-content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .wgb-promotion-popup {
        width: 70%;
    }
}